@model PokeAPIWeb.Models.ViewModels.IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<section class="buscadores">
    <form method="post" action="~/Home/Index">


        <select asp-for="Habilidades" name="habilidad" asp-items="@(new SelectList(Model.Habilidades.results, "name", "name"))">
            <option>--Abilities--</option>
        </select>
        <select asp-for="Tipos" name="tipo" asp-items="@(new SelectList(Model.Tipos.results,"name", "name"))">
            <option>--Types--</option>
        </select>
        <div>
            <i class="fas fa-search"></i>
            <input type="text" name="texto" placeholder="Search by name" />
        </div>
        <input type="reset" value="Reset">
        <input type="submit" value="Search" class="buscar" />
    </form>
</section>

@if (Model.Pokemones != null )
{
    @if (Model.Pokemones.Count() >= 1)
    {
        <h2>Se han encontrado (@Model.Pokemones.Count()) Pokemones que concuerdan con su busqueda.</h2>
        <section class="resultados">
            @foreach (var pokemon in Model.Pokemones)
            {
                <section class="carta">
                    <img src="@((pokemon.sprites.other.OfficialArtwork.front_default!=null) ? pokemon.sprites.other.OfficialArtwork.front_default : pokemon.sprites.front_default)" alt="Imagen no disponible"/><br />
                    <h3>@pokemon.name.ToUpper()</h3><br />
                    <a class="ver_mas" href="~/Home/VerPokemon/@pokemon.id">Ver mas</a>
                </section>
            }
        </section>
    }
    else
    {
        <h2>Lo sentimos, ningun pokemon coincide con tu busqueda</h2>
    }

}




