@model PokeAPIWeb.Models.ViewModels.IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<section class="buscadores">
    <form method="post" action="~/Home/Index">


        <select asp-for="Habilidades" name="habilidad" asp-items="@(new SelectList(Model.Habilidades.results, "name", "name"))">
            <option>--abilities--</option>
        </select>
        <select asp-for="Tipos" name="tipo" asp-items="@(new SelectList(Model.Tipos.results,"name", "name"))">
            <option>--Types--</option>
        </select>
        <div>
            <i class="fas fa-search"></i>
            <input type="text" name="texto" placeholder="Buscar por nombre" />
        </div>

        <input type="submit" value="Buscar" class="buscar" />
    </form>
</section>

@if (Model.Pokemones != null )
{
    @if (Model.Pokemones.Count() >= 1)
    {
        <section class="resultados">
            @foreach (var pokemon in Model.Pokemones)
            {
                <section class="carta">
                    <img src="@pokemon.sprites.other.OfficialArtwork.front_default" height="200px" />
                    <h3>@pokemon.name</h3>
                    <p> peso: @pokemon.weight</p>
                    <a href="~/Home/VerPokemon/@pokemon.id">Ver mas</a>
                </section>
            }
        </section>
    }
    else
    {
        <h2>Lo sentimos, ningun pokemon coincide con tu busqueda</h2>
    }

}




